# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL="mysql://root@localhost:3306/roundest-mon"
SHADOW_DATABASE_URL="mysql://root@localhost:38649/roundest-mon"

# Next Auth
GITHUB_ID=
GITHUB_SECRET=
